# BLE
CONFIG_BT=y
CONFIG_BT_SMP=y
CONFIG_BT_PERIPHERAL=y

# USB HID
CONFIG_USB_DEVICE_STACK=y

# 32 kHz clock: internal RC oscillator
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_250PPM=y

# GPIO
CONFIG_GPIO=y

# I2C (for AZ1UBALL trackball)
CONFIG_I2C=y
