#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // DIAGNOSTIC: 1 col x 4 rows. 4 keys only.
        // RC(0,0)=A  RC(1,0)=B  RC(2,0)=C  RC(3,0)=D
        default_layer {
            bindings = < &kp A &kp B &kp C &kp D >;
        };
    };
};
